@font-face {
  font-family: "Fraunces" 9pt;
  src: url("./fonts/fonts/Fraunces_9pt_Soft-Bold.ttf");
}
@font-face {
  font-family: "Fraunces" 9pt;
  src: url("./fonts/fonts/Fraunces_9pt_Soft-Light.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.containeir {
  width: 1200px;
  margin: 20px auto;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__list {
  display: flex;
  gap: 30px;
}
.nav__list__link {
  color: #83888F;
}
.nav__list__link:hover {
  color: #090781;
}

.card {
  width: 100%;
  height: 400px;
  background-image: url(./img/Group\ 7.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: start;
  border-radius: 10px;
  margin-top: 40px;
}
.card__h1 {
  width: 432px;
  font-size: 72px;
  margin-top: 100px;
  margin-left: 100px;
  color: aliceblue;
}
.card__p {
  width: 432px;
  font-size: 16px;
  color: aliceblue;
  margin-left: 100px;
}

h1 {
  font-family: "Fraunces" 9pt;
  font-weight: 900;
}

h2 {
  font-family: "Fraunces" 9pt;
}

h5 {
  font-family: "Fraunces" 9pt;
}

p {
  font-family: "Fraunces" 9pt;
}

a {
  font-family: "Fraunces" 9pt;
}

.card2 {
  width: 100%;
  height: 500px;
  background: url(./img/Bitmap.png);
  border-radius: 10px;
  padding: 40px;
  padding-top: 100px;
  margin-top: 100px;
}
.card2__hr {
  width: 700px;
  border: 2px solid #FDD6BA;
  margin-right: 300p;
  margin-left: 10px;
}
.card2__span {
  width: 720px;
  display: flex;
  justify-content: space-between;
  margin-right: 300px;
  margin-top: -15px;
}
.card2__span__div {
  width: 25px;
  height: 25px;
  border: 3px solid rgb(7, 135, 185);
  border-radius: 50%;
}
.card2__wrapper {
  display: flex;
  justify-content: space-between;
}
.card2__wrapper__box {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: aliceblue;
  margin-top: 50px;
}
.card2__wrapper__box__h1 {
  color: #FDD6BA;
  font-size: 72px;
}
.card2__wrapper__box__h3 {
  width: 225px;
  font-size: 34px;
}
.card2__wrapper__box__p {
  width: 255px;
}

.card3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 90px;
}
.card3__list {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: #83888F;
  opacity: 0, 1;
  color: #83888F;
  font-size: 24px;
}
.card3__list__li {
  display: flex;
  gap: 20px;
}
.card3__list__link {
  color: #83888F;
  font-size: 24px;
}
.card3__list__link:hover {
  color: blue;
}
.card3__list__link1 {
  color: #333D4B;
  font-size: 24px;
}
.card3__list__link1:hover {
  color: blue;
}
.card3__list__hr {
  border: 1px solid #83888F;
  width: 180px;
}
.card3__wrapper__span {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0px;
}
.card3__wrapper__span__img {
  width: 20px;
  height: 20px;
}
.card3__wrapper__span__h1 {
  color: #83888F;
}
.card3__wrapper__div {
  display: flex;
  gap: 30px;
}
.card3__wrapper__div__box {
  width: 180px;
  height: 200px;
  padding: 15px;
  border-radius: 5px;
  background: #F4F1EB;
  color: #333D4B;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 30px;
  box-shadow: 0px 0px 4px -1px;
}
.card3__wrapper__div__box:hover {
  box-shadow: 1px 1px 6px 1px;
}
.card3__wrapper__div__box1 {
  width: 180px;
  height: 200px;
  padding: 15px;
  border-radius: 5px;
  background: #F4F1EB;
  color: #333D4B;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 30px;
  box-shadow: 0px 0px 4px -1px;
  background: #0E8784;
  color: #F4F1EB;
}
.card3__wrapper__div__box1:hover {
  width: 180px;
  height: 200px;
  padding: 15px;
  border-radius: 5px;
  background: #F4F1EB;
  color: #333D4B;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 30px;
  box-shadow: 0px 0px 4px -1px;
  box-shadow: 1px 1px 6px 1px;
}

.card4 {
  margin-left: 570px;
  margin-right: 90px;
}
.card4__wrapper__span {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0px;
}
.card4__wrapper__span__img {
  width: 20px;
  height: 20px;
}
.card4__wrapper__span__h1 {
  color: #83888F;
}
.card4__wrapper__div {
  display: flex;
  gap: 30px;
}
.card4__wrapper__div__box {
  width: 180px;
  height: 200px;
  padding: 15px;
  border-radius: 5px;
  background: #F4F1EB;
  color: #333D4B;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 30px;
  box-shadow: 0px 0px 4px -1px;
}
.card4__wrapper__div__box:hover {
  box-shadow: 1px 1px 6px 1px;
}
.card4__wrapper__div__box1 {
  width: 180px;
  height: 200px;
  padding: 15px;
  border-radius: 5px;
  background: #F4F1EB;
  color: #333D4B;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 30px;
  box-shadow: 0px 0px 4px -1px;
  background: #0E8784;
  color: #F4F1EB;
}
.card4__wrapper__div__box1:hover {
  width: 180px;
  height: 200px;
  padding: 15px;
  border-radius: 5px;
  background: #F4F1EB;
  color: #333D4B;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 30px;
  box-shadow: 0px 0px 4px -1px;
  box-shadow: 1px 1px 6px 1px;
}

.card5 {
  width: 545px;
  height: 170px;
  background-image: url(./img/Bitmap\ \(1\).png);
  text-align: start;
  padding-top: 30px;
  padding-left: 40px;
  margin-left: 570px;
  margin-top: 90px;
  margin-bottom: 50px;
}
.card5__h5 {
  color: #5a5959;
  font-size: 16px;
}
.card5__p {
  color: #FFFFFF;
  font-size: 23px;
  width: 450px;
}
.card5__p:nth-child(5) {
  color: rgb(0, 255, 255);
}

.btn {
  width: 200px;
  height: 40px;
  padding: 10px;
  border-radius: 5px;
  background: #10b4ca;
  color: hwb(0 95% 5%) 5% 5%;
  color: wheat;
  margin-left: 980px;
}

.btn:hover {
  width: 200px;
  height: 40px;
  padding: 10px;
  border-radius: 5px;
  background: #10b4ca;
  color: hwb(0 95% 5%) 5% 5%;
  color: blue;
  background: #FFFFFF;
  border: 2px solid blue;
  transition: all 0, 6s ease-in-out;
}

.card6 {
  width: 100%;
  height: 70px;
  background: #2C343E;
  color: hsl(0, 17%, 92%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
}
.card6__left {
  display: flex;
  gap: 30px;
  align-items: center;
}
.card6__left__ul {
  display: flex;
  gap: 30px;
}
.card6__left__ul__li {
  color: antiquewhite;
  text-transform: uppercase;
}
.card6__left__ul__li:hover {
  color: rgb(20, 8, 196);
  text-transform: uppercase;
}
.card6__right {
  display: flex;
  gap: 30px;
  align-items: center;
}/*# sourceMappingURL=sayle.css.map */